@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body#login{
	padding: 0;
	margin: 0;
	background: linear-gradient(#00000066, #00000044),
                url('/static/media/images/background/home.jpg');
	background-repeat: no-repeat;
	background-size: cover;
    width: 100vw;
    height: 100vh;
}

form {
	font-family: 'Quicksand', sans-serif;
	position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

	z-index: 1;
	background: #ffffffff;
	opacity: 97%;
	width: 800px;
    max-width: 90%;
	padding: 10px 45px 30px 45px;
	text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	border-radius: 10px;   
}

form h2 {
    font-size : 50px;
}

form c {
    display: inline-block;
    min-height : 40px;
    font-size : 20px;
}

form input {
	outline: 0;
	background: #f1f1f1;
	border-radius: 15px;
	width: 100%;
	border: 0;
	margin: 0 0 20px;
	padding: 20px;
	box-sizing: border-box;
	font-size: 40px;
}

form input:hover {
	background-color: #d6d6cf;
}

form input:focus {
	background-color: #cacbc2;
}

form button {
	cursor: pointer;
	outline: 0;
	border-radius: 20px;
	background: #e19e49;
	width: 100%;
	border: 0;
	padding: 15px;
	font-size: 45px;
	color: #fff;
}

form button:hover, form button:active, form button:focus {
	background-color: #b6813b;
}

a {
	color: #999b93;
	text-decoration: none;
	font-weight: bold;
}

a:hover, a:focus, a:active {
	color: #b3b4ae;
}

p {
    font-size: 30px;
}

@media (max-width: 1000px) {
    form input {
        font-size: 35px;
    }
    form c {
        min-height: 35px;
        font-size : 17px;
    }
    
    form button {
        font-size: 45px;
    }
    
    p {
        font-size: 30px;
    }

    form {
        width: 700px;
        max-width: 80%;
    }
    
    form h2 {
        font-size : 40px;
    }
}

@media (max-width: 800px),
       (max-height: 700px) {
    form input {
        font-size: 25px;
    }
    form c {
        min-height: 30px;
        font-size : 14px;
    }
    
    form button {
        font-size: 35px;
    }
    
    p {
        font-size: 20px;
    }

    form {
        width: 500px;
        max-width: 70%;
    }
    
    form h2 {
        font-size : 30px;
    }
}


@media (max-width: 600px),
       (max-height: 650px) {
    form input {
        font-size: 15px;
    }
    form c {
        min-height: 25px;
        font-size : 11px;
    }
    
    form button {
        font-size: 25px;
    }
    
    p {
        font-size: 13px;
    }

    form {
        width: 300px;
        max-width: 60%;
    }
    
    form h2 {
        font-size : 20px;
    }
}

@media (max-width: 450px),
       (max-height: 500px) {
    form c {
        min-height: 15px;
        font-size : 12px;
    }
    form input {
        font-size: 15px;
    }
    
    form button {
        font-size: 20px;
    }
    
    p {
        font-size: 12px;
    }

    form {
        width: 300px;
        max-width: 60%;
    }
    
    form h2 {
        font-size : 15px;
    }
}